info:
  component: Zuul Server

spring:
  application:
    name: zuul

endpoints:
  restart:
    enabled: true
  shutdown:
    enabled: true
  health:
    sensitive: false

zuul:
  routes:
    hello: /hello/**
    zuul: /self/**

server:
  port: 8765

eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka:8761/eureka/

logging:
  level:
    ROOT: INFO
    org.springframework.web: DEBUG