info:
  component: Zuul Server

spring:
  application:
    name: zuul

endpoints:
  restart:
    enabled: true
  shutdown:
    enabled: true
  health:
    sensitive: false

zuul:
  routes:
    headers: /headers/**
    hello: /hello/**
    zuul: /self/**

server:
  port: 8765

eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka:8761/eureka/,http://localhost:8761/eureka,http://jig-eureka.dev:8761/eureka
    registerWithEureka: true
    fetchRegistry: true
    instance:
      securePortEnabled: false

logging:
  level:
    ROOT: INFO
    org.springframework.web: DEBUG